<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin View</title>
</head>
<body>
    <div class="table-data">
<h2>User data</h2>
    <table border="1">
        <tr>
            <th>id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>email</th>
            <th>password</th>
        </tr>
        
        <% if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){ %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.id; %></td>
            <td><%=data.firstName %></td>
            <td><%=data.lastName %></td>
            <td><%=data.email %></td>
            <td><%=data.password %></td>
            <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>